name: peta_randusari
description: Aplikasi Mobile Kelurahan Randusari dengan Pemetaan
version: 1.0.0+1
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
    
  supabase_flutter: ^2.10.3
  flutter_dotenv: ^5.1.0
  dropdown_button2: ^2.0.4
  provider: ^6.1.1
  http: ^1.1.0
  shared_preferences: ^2.2.2
  


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  

flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  
  # Assets configuration
  assets:
    - images/petarandusari1.png